<div class="border border-gray-200 rounded-lg shadow-xl m-3 p-3 max-w-lg">
  <!-- начало формы для point -->

  <div class="m-2 flex flex-col">
    <h1 class="text-xl m-2 mb-5"> 
      Редактировать
    </h1>

    <%= form_with model: [@task, @point] do |form| %>
   
    <div class="flex-col">
      <%= form.text_field :title , class:"m-2 rounded-lg shadow-xl", minlength: "3", required: true %>
    </div>
    <div class=" m-2 flex items-center ">
      <input id="point[finished]" type="checkbox" value="true" name="point[finished]" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="point[finished]" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Выполнено </label>
    </div>
    <div class="m-2">
      <input type="submit" name="commit" value="ок" class="bg-indigo-400 hover:bg-slate-500 text-white font-bold py-2 px-4 rounded-full" data-disable-with="создать">
    </div>
    <% end %>
  </div>
</div>
    <!-- конец формы для point -->
</div>